*~
*.o
moc_*
*.cxx
*.so
*.a
ui_*
*.pyc
CMakeCache.txt
CMakeFiles

# Build and Release Folders
bin/
bin-debug/
bin-release/
.settings/

moc*.cxx
*~
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CommonBehavior.cpp
CommonBehavior.h
DifferentialRobot.cpp
DifferentialRobot.h
GualzruGoto.cpp
GualzruGoto.h
Laser.cpp
Laser.h
LocalNavigator.cpp
LocalNavigator.h
Makefile
ui_*.h
GualzruSaccadeAnticipation.cpp
GualzruSaccadeAnticipation.h
JointMotor.cpp
JointMotor.h
Executive.cpp
Executive.h
GualzruBehavior.cpp
GualzruBehavior.h
GualzruBehaviorPitchRoll.cpp
GualzruBehaviorPitchRoll.h
IMU.cpp
IMU.h
WorldModel.cpp
WorldModel.h
bin
core
*.kate-swp
CloudPrimitives.cpp
CloudPrimitives.h
GualzruBehaviorYaw.cpp
GualzruBehaviorYaw.h
RGBD.cpp
RGBD.h
WorldModel.cpp
WorldModel.h
install_manifest.txt
*.so
CommonHead.cpp
CommonHead.h
GualzruBehaviorDistance.cpp
GualzruBehaviorDistance.h
Dummy.cpp
Dummy.h
Planning.cpp
Planning.h
libgualzru_worldmodel_a.a
GualzruBehaviorSaccade.cpp
GualzruBehaviorSaccade.h
*.o
*.a
Speech*
log
fastdownward
GualzruBehaviorUnknown.cpp
GualzruBehaviorUnknown.h
kk
kk.*
*.kk
*.pcd
InnerModelManager.*
.*~
moc_*
*.o
*.log
*.cmake
*.kdev4
*.cmake
CXX.*
telegrammission.conf


components/humanBodyViewer/\.idea/

components/humanBodyViewer/cmake-build-debug/

*.new

components/fakeHumanAgent/\.idea/

*.cbp

components/fakeHumanAgent/src/fakeHumanAgent_autogen/

components/fakeHumanAgent/src/AGMCommonBehavior\.cpp

components/fakeHumanAgent/src/AGMCommonBehavior\.h

components/fakeHumanAgent/src/AGMExecutive\.cpp

components/fakeHumanAgent/src/AGMExecutive\.h

components/fakeHumanAgent/src/AGMWorldModel\.cpp

components/fakeHumanAgent/src/AGMWorldModel\.h

components/humanAgent/\.idea/

components/SocialNavigationAgent/\.idea/

components/SocialNavigationAgent/src/SocialNavigationAgent_autogen/

components/SocialNavigationAgent/src/AGMCommonBehavior\.cpp

components/SocialNavigationAgent/src/AGMCommonBehavior\.h

components/SocialNavigationAgent/src/AGMExecutive\.cpp

components/SocialNavigationAgent/src/AGMExecutive\.h

components/SocialNavigationAgent/src/AGMWorldModel\.cpp

components/SocialNavigationAgent/src/AGMWorldModel\.h

components/SocialNavigationAgent/src/GenericBase\.cpp

components/SocialNavigationAgent/src/GenericBase\.h

components/SocialNavigationAgent/src/Logger\.cpp

components/SocialNavigationAgent/src/Logger\.h

components/SocialNavigationAgent/src/OmniRobot\.cpp

components/SocialNavigationAgent/src/OmniRobot\.h

components/SocialNavigationAgent/src/SocialNavigationGaussian\.cpp

components/SocialNavigationAgent/src/SocialNavigationGaussian\.h

components/SocialNavigationAgent/src/TrajectoryRobot2D\.cpp

components/SocialNavigationAgent/src/TrajectoryRobot2D\.h

components/humanAgent/src/HumanTracker\.cpp

components/humanAgent/src/HumanTracker\.h
